{% use 'bootstrap_4_layout.html.twig' %}
{% block _app_bundle_team_registration_form_members_entry_widget %}
    <div class="col-md-12 js-members-item" style="margin-top: 20px">
        <a href="#" class="js-remove-member pull-right">
            <span class="fa fa-close"></span>
        </a>
        {{ form_rest(form) }}
    </div>
{% endblock %}